body::before {
  display: block;
  content: "";
  height: 60px;
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
.box {
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: lightpink;
}
iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#questions,
#instructers,
#learn {
  scroll-margin-top: 60px;
}
